<div class="container-fluid bg-3 text-center">
  <h2>Want to see a new movie on Snot 'N Potatoes?</h2>

  <div class="movie-form">
    <%= form_for :movie, url: movies_path do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title %>
    <br>
    <br>

    <%= f.submit "Submit", :class => 'submit-approval' %>

    <% end %>
  </div>
  <br>

  <p class='hidden'> Thank you for your submission. Your movie will be reviewed shortly. </p>
</div>
