<h1>Submit New Movie for Snot 'N Potatoes</h1>

<div class="movie-form">
  <%= form_for :movie, url: movies_path do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.submit "Submit For Approval!", :class => 'submit-approval' %>

  <% end %>
</div>

<p class='hidden'> Thank you for your submission. Your movie will be reviewed shortly. </p>
