<h1>Add New Moooooovie Yo</h1>

<div class="movie-form">
  <%= form_for :movie, url: movies_path do |f| %>

  <%= label_tag "imdb_id" %>
  <%= text_field_tag("imdb_id") %>

  <%= f.submit "Do it" %>

  <% end %>
</div>
