/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 0.5em;
}

.navbar a {
  color: white;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 30%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

.favorites {
  width: 40%;
}

li {
  list-style: none;
}

.potato {
  width: 50px;
  height: 60px;
}

textarea {
  width: 600px;
  height: 120px;
}

table {
  margin: auto;
}

.rating {
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.review-comment {
  padding: 0.5em;
  width: 600px;
  max-width: 600px;
  height: 100px;
  overflow: hidden;
}

.hidden  {
  display:none;
  font-style: italic;
}

.hidden2 {
  display: none;
  font-style: italic;
  color: red;
}

.dropdown-toggle {
  margin-top: 9px;
  background-color: black;
}


.btn-primary, .btn-primary:active, .btn-primary:visited,  .btn-primary:focus {
    background: transparent;
    border: none;
    color: #777777;
}

.btn-primary:hover, .open >.btn-primary.dropdown-toggle {
  background: transparent;
  border: none;
  color: white;
}

.logo {
  height: 50%;
  padding: 0.8em;
}

.form-container {
  margin: auto;
  padding: 2em;
}

.left-align {
  text-align: left;
}

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 2em;
}

.fa-thumbs-up, .fa-thumbs-down {
  color: rgb(250,193,124);
  /*250, 193, 124*/
}

.review-table > td {
  padding-right: 8px;

}

a .fa-thumbs-up:hover ,a .fa-thumbs-down:hover {
  color: black;
  /*250, 193, 124*/
}


.shaded {
  color: rgba(250,193,124, 0.5)
}

#movie_title {
  width: 500px;
}

.fav {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  display: inline;
  font-size: 1.2em;
  color: black;
  float: right;
  font-family: 'Verdana', bold;
}

.fa-heart {
  display: inline;
}

.label {
  font-size: 1.2em;
  color: black;
}
