/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  padding: 0.5em;
}

.navbar a {
  color: white;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 30%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none;
}
}

.favorites {
  width: 40%;
}

li {
  list-style: none;
}

.potato {
  width: 50px;
  height: 60px;
}

textarea {
  width: 600px;
  height: 120px;
}

table {
  margin: auto;
}

.rating {
  padding: 0.5em;
  font-size: 2em;
  font-weight: bold;
}

.review-comment {
  padding: 0.5em;
  width: 600px;
  max-width: 600px;
  height: 100px;
  overflow: hidden;
}

.hidden  {
  display:none;
  font-style: italic;
}

.dropdown-toggle {
  margin-top: 9px;
  background-color: black;
}


.btn-primary, .btn-primary:active, .btn-primary:visited,  .btn-primary:focus {
    background: transparent;
    border: none;
    color: #777777;
}

.btn-primary:hover, .open >.btn-primary.dropdown-toggle {
  background: transparent;
  border: none;
  color: white;
}

.logo {
  height: 50%;
  padding: 0.8em;
}

.form-container {
  margin: auto;
  padding: 2em;
}

.left-align {
  text-align: left;
}

